<!doctype html>
</html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2.0" charset="UTF-8">
        <link rel="stylesheet" href="assets/css/chart.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/latofonts.css">
        <link rel="stylesheet" href="assets/css/custom.css">
        <link rel="icon" href="/favicon.ico">
        <link href="assets/css/all.css" rel="stylesheet">
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/chart.js"></script>
        <script src="assets/js/vue-dev.js"></script>
        <script src="assets/js/axios.min.js"></script>
        <script src="assets/js/vue-route.js" ></script>
        <!-- <script src="assets/vue/sideWidget.vue"></script> -->
        <script type="module" src="assets/js/nwisApp.js"></script>
    </head>
    <body>
        <div id="nwisApp">
            <div class="container-fluid">
                <header class="blog-header py-3">
                    <div class="row flex-nowrap justify-content-between align-items-center">
                        <div class="col-4 pt-1">
                            <a class="text-muted" href="#">Северо-Западная Инициатива</a>
                        </div>
                        <div class="col-4 text-center">
                            <div class="blog-header-logo text-dark" href="#">Сервис Визуализации Данных</div>
                        </div>
                        <div class="col-4 d-flex justify-content-end align-items-center">
                            <router-link to="/register">
                                <a class="btn btn-sm btn-outline-secondary" @click="openRegisterUser()" href="#">Регистрация</a>
                            </router-link>
                            <router-link to="/auth">
                                <a class="btn btn-sm btn-outline-secondary mr-1" @click="openAuthUser()" href="#">Вход</a>
                            </router-link>
                        </div>
                    </div>
                </header>



                <div class="bg-dark mb-3 pb-md-3 pl-md-4 pt-md-3 rounded text-white">
                    <div class="col-md-6 px-0">
                        <h1 class="h3 display-4 font-italic">Сервис визуализации данных</h1>
                        <p class="lead my-3">Сервис позволяет получить представление данных из открытых источников в наглядном виде</p>
                        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Познакомиться со всем функционалом</a></p>
                    </div>
                </div>
                <div class="nav-scroller mb-3">
                    <nav class="nav d-flex justify-content-between">
                        <a class="text-dark" v-for="(label, labelKey, labelIndex) in labels.menuTop"
                            :href="typeof(label.link)!=='null'?label.link:'#'">{{label.name}}</a>
                    </nav>
                </div>

                <router-view></router-view>


                <div class="row mb-2">
                    <div class="bg-light col-12 col-md-4 pt-2">
                        <div class="h5">Поиск проблемы</div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false">
                                    <title>Search</title>
                                    <circle cx="10.5" cy="10.5" r="7.5" />
                                    <path d="M21 21l-5.2-5.2" />
                                    </svg>
                                </div>
                            </div>
                            <input class="form-control">
                        </div>
                        <div v-for="(problem, problemKey, problemIndex) in globalDataSets.topProblems"
                            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary">
                                    <div class="top10-item-caption d-inline-flex">{{problem.name}}</div>
                                    <template v-if="problem.userList.length>=warningProblemBorder">
                                        <div class="mb-0 d-inline-flex float-right hot-problem-cust position-absolute"
                                            :class="{'text-warning':problem.userList.length<dangerProblemBorder,'text-danger':problem.userList.length>=dangerProblemBorder}">
                                            <i class="fas fa-fire-alt"></i></div>
                                    
                                    </template>
                                </strong>

                                <div class="mb-1 text-muted">{{problem.date}}</div>
                                <p class="card-text mb-auto">{{ cutOutput(problem.description,120)}}</p>
                                <a href="#" class="stretched-link">Перейти к проблеме</a>
                            </div>
                            <div class="col-auto bg-dark">
                                <svg class="bd-placeholder-img" width="200" height="100%" xmlns="http://www.w3.org/2000/svg"
                                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img">

                                </svg>
                                <!-- <img class="top10-img" :src="`assets/img/img${problemKey}.jpg`"/> -->
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-8 col-12 ">
                        <div class="h4">Поиск данных</div>
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-sm-6 col-12">
                                <div class="h5">Регион/Город/Район</div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-city"></i>
                                        </span>
                                    </div>
                                    <input class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-12">
                                <div class="h5">Проблемная область</div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-chart-area"></i>
                                        </span>
                                    </div>
                                    <input class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                CHARTS HERE
                            </div>
                        </div>
                        
                       
                    </div>
                </div>
            </div>

            <main role="main" class="container-fluid">
                <div class="row">

                </div><!-- /.row -->

            </main><!-- /.container -->

            <footer class="blog-footer footer-cust bg-dark text-center pt-3 pl-3 text-white pb-3 mb-0">
                <p>Сервис разработан командой Северо-Западная Инициатива в рамках хакатона "Цифровой Прорыв"</p>
                <p>
                    <a href="#">Back to top</a>
                </p>
            </footer>
                <!-- <router-link to="/foo">Go to Foo</router-link>
                <router-link to="/bar">Go to Bar</router-link>
            <router-view></router-view> -->
        </div>
    </body>
</html>