body{
    font-family: "LatoWebMedium";
}
.hot-problem-cust{
    font-size: 14rem;
    opacity: 0.2;
    top: 0;
    left: 0;
    margin-left: 35%;  
}
.top10-img{
    width: 150px;
    border: 1px solid #dee2e6;    
}
.footer-cust{
    /* width:100%; */
}
.mh-179{
    min-height: 179px;
}
.problem-screen-desc{
 font-size: 14pt;
 font-family: "LatoWebMono";   
}
.star-counts{
font-size: 14pt;
    font-family: "LatoWebBold";
    /* right: 0.2rem; */
    line-height: 2;
    margin: 0 auto;
    position: relative;
}
.text-underlined {
    text-decoration: underline!important;
    cursor: pointer;
}
#myChart{
        /* width: 600px!important; */
    /* height: 700px!important; */
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: black;
    border: 1px solid #6f6f6f33;
    border-radius: 8px;
    padding: 4px 5px;
    background-color: #80808047;
}
.tt-menu{
    width: 100%;
    background-color: white;
    border: 1px solid gray;
    padding: 2px 10px;
    margin-top: 4px;
    border-radius: 5px;
    cursor: pointer;    
}
.bootstrap-tagsinput{

    width:100%;
    margin-top:0.25rem;
    padding:0.25rem;
}
.bootstrap-tagsinput .tag {
    color: black!important;
}